body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 50px;
}

#container {
 position:relative;
}
#hypatia_logo {
 position:relative;
 top:0;
 right:0;
 width:152px;
}
#hypatiaPlot {
 position:absolute;
 top:0;
 left:0;
 width:400px;
}

