<select name="function" >
<option value="Chi">Chi</option>
<option value="Ci">Ci</option>
<option value="Shi">Shi</option>
<option value="Si">Si</option>
<option value="airy_Ai">airy_Ai</option>
<option value="airy_Ai_deriv">airy_Ai_deriv</option>
<option value="airy_Ai_deriv_scaled">airy_Ai_deriv_scaled</option>
<option value="airy_Ai_scaled">airy_Ai_scaled</option>
<option value="airy_Bi">airy_Bi</option>
<option value="airy_Bi_deriv">airy_Bi_deriv</option>
<option value="airy_Bi_deriv_scaled">airy_Bi_deriv_scaled</option>
<option value="airy_Bi_scaled">airy_Bi_scaled</option>
<option value="airy_zero_Ai">airy_zero_Ai</option>
<option value="airy_zero_Ai_deriv">airy_zero_Ai_deriv</option>
<option value="airy_zero_Bi">airy_zero_Bi</option>
<option value="airy_zero_Bi_deriv">airy_zero_Bi_deriv</option>
<option value="angle_restrict_pos">angle_restrict_pos</option>
<option value="angle_restrict_symm">angle_restrict_symm</option>
<option value="atanint">atanint</option>
<option value="bessel_I0">bessel_I0</option>
<option value="bessel_I0_scaled">bessel_I0_scaled</option>
<option value="bessel_I1">bessel_I1</option>
<option value="bessel_I1_scaled">bessel_I1_scaled</option>
<option selected="selected" value="bessel_J0">bessel_J0</option>
<option value="bessel_J1">bessel_J1</option>
<option value="bessel_K0">bessel_K0</option>
<option value="bessel_K0_scaled">bessel_K0_scaled</option>
<option value="bessel_K1">bessel_K1</option>
<option value="bessel_K1_scaled">bessel_K1_scaled</option>
<option value="bessel_Y0">bessel_Y0</option>
<option value="bessel_Y1">bessel_Y1</option>
<option value="bessel_i0_scaled">bessel_i0_scaled</option>
<option value="bessel_i1_scaled">bessel_i1_scaled</option>
<option value="bessel_i2_scaled">bessel_i2_scaled</option>
<option value="bessel_j0">bessel_j0</option>
<option value="bessel_j1">bessel_j1</option>
<option value="bessel_j2">bessel_j2</option>
<option value="bessel_k0_scaled">bessel_k0_scaled</option>
<option value="bessel_k1_scaled">bessel_k1_scaled</option>
<option value="bessel_k2_scaled">bessel_k2_scaled</option>
<option value="bessel_y0">bessel_y0</option>
<option value="bessel_y1">bessel_y1</option>
<option value="bessel_y2">bessel_y2</option>
<option value="bessel_zero_J0">bessel_zero_J0</option>
<option value="bessel_zero_J1">bessel_zero_J1</option>
<option value="clausen">clausen</option>
<option value="cos">cos</option>
<option value="dawson">dawson</option>
<option value="debye_1">debye_1</option>
<option value="debye_2">debye_2</option>
<option value="debye_3">debye_3</option>
<option value="debye_4">debye_4</option>
<option value="debye_5">debye_5</option>
<option value="debye_6">debye_6</option>
<option value="dilog">dilog</option>
<option value="erf">erf</option>
<option value="erf_Q">erf_Q</option>
<option value="erf_Z">erf_Z</option>
<option value="erfc">erfc</option>
<option value="eta">eta</option>
<option value="eta_int">eta_int</option>
<option value="exp">exp</option>
<option value="expint_3">expint_3</option>
<option value="expint_E1">expint_E1</option>
<option value="expint_E1_scaled">expint_E1_scaled</option>
<option value="expint_E2">expint_E2</option>
<option value="expint_E2_scaled">expint_E2_scaled</option>
<option value="expint_Ei">expint_Ei</option>
<option value="expint_Ei_scaled">expint_Ei_scaled</option>
<option value="expm1">expm1</option>
<option value="exprel">exprel</option>
<option value="exprel_2">exprel_2</option>
<option value="gamma">gamma</option>
<option value="gammainv">gammainv</option>
<option value="gammastar">gammastar</option>
<option value="hazard">hazard</option>
<option value="lambert_W0">lambert_W0</option>
<option value="lambert_Wm1">lambert_Wm1</option>
<option value="legendre_P1">legendre_P1</option>
<option value="legendre_P2">legendre_P2</option>
<option value="legendre_P3">legendre_P3</option>
<option value="legendre_Q0">legendre_Q0</option>
<option value="legendre_Q1">legendre_Q1</option>
<option value="lncosh">lncosh</option>
<option value="lngamma">lngamma</option>
<option value="lnsinh">lnsinh</option>
<option value="log">log</option>
<option value="log_1plusx">log_1plusx</option>
<option value="log_1plusx_mx">log_1plusx_mx</option>
<option value="log_abs">log_abs</option>
<option value="log_erfc">log_erfc</option>
<option value="psi">psi</option>
<option value="psi_1">psi_1</option>
<option value="psi_1_int">psi_1_int</option>
<option value="psi_1piy">psi_1piy</option>
<option value="psi_int">psi_int</option>
<option value="sin">sin</option>
<option value="sinc">sinc</option>
<option value="synchrotron_1">synchrotron_1</option>
<option value="synchrotron_2">synchrotron_2</option>
<option value="transport_2">transport_2</option>
<option value="transport_3">transport_3</option>
<option value="transport_4">transport_4</option>
<option value="transport_5">transport_5</option>
<option value="zeta">zeta</option>
<option value="zeta_int">zeta_int</option>
<option value="zetam1">zetam1</option>
<option value="zetam1_int">zetam1_int</option>
</select>