<html>
<head>
<title>Open the pod bay doors, HAL!</title>
<link rel="stylesheet" href="/css/hal.css" type="text/css"/>
</head>
<body>
<table>
    <tr>
        <td><a border="0" href="http://leto.net/rest/gsl.cgi/=/sf/"><img src="/pics/hal9000.jpg"></a></td>
        <td><h1>I'm sorry Dave, but I can't do that. <br> Would you like to play a game of chess? </h1></td>
    </tr>
</table>
</body>
</html>
