<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Plot your fancy</title>
    <link href="css/layout.css" rel="stylesheet" type="text/css"></link>
    <!--[if IE]><script language="javascript" type="text/javascript" src="/js/excanvas.pack.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="js/leto.js"> </script>
    <script language="javascript" type="text/javascript" src="/js/jquery.js"> </script>
    <script language="javascript" type="text/javascript" src="/js/jquery.flot.js"> </script>
    <style type="text/css">@import "/css/jquery.calculator.css";</style>
    <script type="text/javascript" src="js/jquery.calculator.js"></script>
    <script type="text/javascript" src="js/hypatia.js"></script>
    <script type="text/javascript" src="js/hypatia_plot.js"></script>
<body bgcolor="white">
<table border="1" width="100%">
<tr>

<td width="250px">

  <div id="miniature" style="float:right;margin-right:10px;margin-top:0px">
      <div id="overview" style="width:250px;height:200px"></div>

      <p id="overviewLegend" style="margin-left:10px"></p>
    </div>


 </td>
<td>
<div id="all">
        <div id="container" >

            <TMPL_INCLUDE NAME="plot.tmpl">

        </div>
</div>
</td>
<td width="152px">
    <div id="hypatia_logo">
    <img src="img/hypatia_rounded.jpg">
    </div>

 </td>
</tr>
</table>
</body>
</html>
